.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.textarea {
  border: none;
  resize: none;
  width: 650px;
  min-height: 60px;
  font-size: 16px;
  margin: 10px;
  min-height: 150px;
}

.btn-group {
  display: flex;
  justify-content: end;
  margin-right: 25px;
}

 .push-btn, .close-btn{
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #a42fc4d9;
  border-radius: 5px;
  background-color: #fff;
}